@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

$primary-color: #FFFFFF;
$secondary-color: #000000;
$tertiary-color: #9e9a9ab2;
$primary-accent-color: #FFFFFF;
$secondary-accent-color: #F3F3F3;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$tertiary-text-color: #444343;
//Fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Montserrat', serif;
//Fonts-size: 
$primary-font-size: 1.3rem;
$secondary-font-size: 2rem;